{% extends "base.html" %}

{% block titulo %} Lista de mercaderias {%endblock %}

{% block contenido %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Mercaderias </h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Categoria</th>
                    <th>Cantidad</th>
                    <th>procedencia</th>
                </tr>
            </thead>
            <tbody>
                {% for mercaderia in mercaderias %}
                    <tr>
                        <td> {{mercaderia.nombre_mercaderia}} </td>
                        <td> {{mercaderia.categoria}} </td>
                        <td> {{mercaderia.cantidad}} </td>
                        <td> {{mercaderia.procedencia}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card-footer text-muted">
        <a name="" id="" class="btn btn-info" href="{% url 'informes' %}" role="button">Regresar</a>
    </div>

</div>

{%endblock %}