{% extends "baseAgente.html" %}

{% block titulo %} Informes aduaneros {%endblock %}

{% block contenido %}

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Informes recibidos</h4>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Tipo traslacion</th>
                    <th>Transportista</th>
                    <th>Vehiculo</th>
                    <th>Mercaderia</th>
                </tr>
            </thead>
            <tbody>
                {% for informe in informes%}
                    <tr>
                        <td> {{informe.fecha}} </td>
                        <td> {{informe.tipo_traslacion}} </td>
                        <td> {{informe.id_transportista}} </td>
                        <td> {{informe.id_vehiculo}} </td>

                        <td>
                            <a name="" id="" class="btn btn-info" href="{% url 'mercaderias3' informe.id_informe %}" role="button">Ver mercancias</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{%endblock %}